@charset "UTF-8";
html{
    font-size: 10px;
}
.he1{
   width: 24%; padding-right: .5rem;
}
.he2{
    width: 26%;
    padding-right: .5rem;
}
.he3{
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.context{
    position: relative;
    background:#0a4e8a;;
}

@media all  and (min-width: 320px){
    .context ul{
        height: 2rem;
    }
    .context .list{
        line-height: 2rem;
        font-size: 1.4rem;
    }
    .context ul li{
        line-height: 2rem;
        font-size: 1.4rem;
    }
    .context .list div{
        position: absolute;
        top:1.9rem;
        left: -0.1rem;
    }
    .context .list div a{
        height: 1.9rem;
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

    .con h4{
        margin-left: 3rem;
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .con .con1{
        margin-left: 20%;
    }
    .con .con1 div{
        line-height: 2rem;
        font-size: 1.4rem;
    }
}
@media all  and (min-width: 375px){
    .context ul{
        height: 2.2rem;
    }
    .context .list{
        line-height: 2.2rem;
        font-size: 1.6rem;
    }
    .context ul li{
        line-height: 2.2rem;
        font-size: 1.6rem;
    }
    .context .list div{
        position: absolute;
        top:2.1rem;
        left: -0.1rem;
    }
    .context .list div a{
        height: 2.2rem;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    .con h4{
        margin-left: 3rem;
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
    .con .con1{
        margin-left: 20%;
    }
    .con .con1 div{
        line-height: 2.6rem;
        font-size: 1.6rem;
    }
}
@media all  and (min-width: 410px){
    .context ul{
        height: 2.6rem;
    }
    .context .list{
        line-height: 2.6rem;
        font-size: 1.8rem;
    }
    .context ul li{
        line-height: 2.6rem;
        font-size: 1.8rem;
    }
    .context .list div{
        position: absolute;
        top:2.5rem;
        left: -0.1rem;
    }
    .context .list div a{
        height: 2.6rem;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    .con h4{
        margin-left: 3rem;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
    .con .con1{
        margin-left: 20%;
    }
    .con .con1 div{
        line-height: 2.6rem;
        font-size: 1.8rem;
    }
}
@media all  and (min-width: 480px){
    .context ul{
        height: 2.6rem;
    }
    .context .list{
        line-height: 2.6rem;
        font-size: 1.6rem;
    }
    .context ul li{
        line-height: 2.6rem;
        font-size: 1.8rem;
    }
    .context .list div{
        position: absolute;
        top:2.5rem;
        left: -0.1rem;
    }
    .context .list div a{
        height: 2.6rem;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    .con h4{
        margin-left: 3rem;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
    .con .con1{
        margin-left: 20%;
    }
    .con .con1 div{
        line-height: 2.6rem;
        font-size: 1.8rem;
    }
}
@media all  and (min-width: 640px){
    .context ul{
        height: 3rem;
    }
    .context .list{
        line-height: 3rem;
        font-size: 1.8rem;
    }
    .context ul li{
        line-height: 3rem;
        font-size: 1.8rem;
    }
    .context .list div{
        position: absolute;
        top:2.9rem;
        left: -0.1rem;
    }
    .context .list div a{
        height: 3rem;
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .con h4{
        margin-left: 3.2rem;
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .con .con1{
        margin-left: 20%;
    }
    .con .con1 div{
        line-height: 3rem;
        font-size: 1.6rem;
    }
}
@media all  and (min-width: 760px){
    .context ul{
        height: 3rem;
    }
    .context .list{
        line-height: 3rem;
        font-size: 1.8rem;
    }
    .context ul li{
        line-height: 3rem;
        font-size: 1.8rem;
    }
    .context .list div{
        position: absolute;
        top:2.9rem;
        left: -0.1rem;
    }
    .context .list div a{
        height: 3rem;
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .con h4{
        margin-left: 3.2rem;
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .con .con1{
        margin-left: 20%;
    }
    .con .con1 div{
        line-height: 3rem;
        font-size: 1.6rem;
    }
}

.context ul{
    margin-left:20%;
}
.context .list{
    position: absolute;
    top: 0;
    left: 5%;
    float: left;
    width: 10%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    z-index: 30;
}
.context ul li{
    float: left;
    height: 100%;
    color: #ffffff;
}
.context .list div{
    position: absolute;
    width: 200%;
    overflow: hidden;
    height: 0;
    display: none;
}
.context .list div a{
    display: block;
    width: 100%;
    background: #ebebeb;
    border-bottom:.1rem solid #0a4e8a;
}


.context .list:hover{
    background: #ebebeb;
    color: lightskyblue;
}
.context .list div a.aa{
    border-bottom:none;
}
.context .list div a:hover{
    background: #ff6700;
    color: #ffffff;
}

.con h4{
    color: #0a4e8a;
}
.con .con1{
    margin-left: 20%;
}
.con .con1 div{
    float: left;
    line-height: 2rem;
    font-size: 1rem;
}
