@charset "UTF-8";
html{
    font-size: 10px;
}
@media all  and (min-width: 320px){
    .context .LR h3{
        padding-top: 1.5rem;
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .context .LR div h5{
        padding: 0 1rem;
        height: 2rem;
        line-height: 2rem;
    }
    .context .LR div h5 span{
        font-size: 1.4rem;
    }
    .context .LR div p{
        line-height: 2rem;
        padding: 0 1rem;
        font-size: 1.4rem;
    }
}
@media all  and (min-width: 375px){
    .context .LR h3{
        padding-top: 2rem;
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    .context .LR div h5{
        padding: 0 1rem;
        height: 2.2rem;
        line-height: 2.2rem;
    }
    .context .LR div h5 span{
        font-size: 1.6rem;
    }
    .context .LR div p{
        line-height: 2.2rem;
        padding: 0 1rem;
        font-size: 1.6rem;
    }
}
@media all  and (min-width: 410px){
    .context .LR h3{
        padding-top: 2rem;
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
    .context .LR div h5{
        padding: 0 1rem;
        height: 2.4rem;
        line-height: 2.4rem;
    }
    .context .LR div h5 span{
        font-size: 1.6rem;
    }
    .context .LR div p{
        line-height: 2.4rem;
        padding: 0 1rem;
        font-size: 1.6rem;
    }
}
@media all  and (min-width: 480px){
    .context .LR h3{
        padding-top: 2rem;
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
    .context .LR div h5{
        padding: 0 1rem;
        height: 2.4rem;
        line-height: 2.4rem;
    }
    .context .LR div h5 span{
        font-size: 1.6rem;
    }
    .context .LR div p{
        line-height: 2.4rem;
        padding: 0 1rem;
        font-size: 1.6rem;
    }
}
@media all  and (min-width: 640px){
    .context .LR h3{
        padding-top: 2rem;
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    .context .LR div h5{
        padding: 0 1rem;
        height: 2.2rem;
        line-height: 2.2rem;
    }
    .context .LR div h5 span{
        font-size: 1.6rem;
    }
    .context .LR div p{
        line-height: 2.2rem;
        padding: 0 1rem;
        font-size: 1.6rem;
    }
}
@media all  and (min-width: 760px){
    .context .LR h3{
        padding-top: 2rem;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
    .context .LR div h5{
        padding: 0 1rem;
        height: 2.8rem;
        line-height: 2.8rem;
    }
    .context .LR div h5 span{
        font-size: 1.8rem;
    }
    .context .LR div p{
        line-height: 2.8rem;
        padding: 0 1rem;
        font-size: 1.8rem;
    }
}

.context .LR{
    width:80%;
    margin: 0 auto;
}
.context .LR h3{
    text-align: center;
}
.context .LR div{
    background:#DDEDFB;
    border: .2rem solid #0099CC;
    border-radius:1rem ;
    margin-top: 1rem;
    overflow: hidden;
}
.context .LR div h5{
    background: #F2F6FB;
    border-bottom:.2rem solid   #0099CC;
}
.rights{
    background: #ececec;
    position: fixed;
}
.rights a{
    display: block;
    text-align: center;
    background: #ececec;
}
.rights a:hover{
    background:  #666;
    color: #ffffff;
}
.rights a.bg{
    background:  #666;
    color: #ffffff;
}
.list:hover{
    background:  #666;
    color: #ffffff;
}
.list{
    position: fixed;
    right: 0;
    cursor: pointer;
    text-align: center;
    background: #ececec;

}
.rights{
    height: 26rem;
    right: -3.2rem;
    bottom: 2rem;
    width:3.2rem;
}
.rights a{
    width:3.2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
}

.list{
    position: fixed;
    right: 0;
    bottom: 2rem;
    width:3.2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
}