@charset "UTF-8";
.conLeft h1{
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 1.4rem;
}
.conLeft a{
    text-align: center;
    width: 100%;
    height: 2.2rem;
    line-height:2.2rem;
    font-size: 1.4rem;
    background: #e1e1e1;
}
.conRight{
    margin-top:1.5rem;
    padding: 0 1rem;
    width: 90%;
}
.conRight .list1 .div1{
    width:98%;
}
.conRight .list1 .div2{
    width:98%;
}
.conRight .list1 .div1 em{
    width: 100%;
}
.conRight .list1 .div1,.conRight .list1 .div2{
    margin:1rem 0;
}
@media all  and (min-width: 320px){
    .conLeft{
        position: fixed;
        right: 2%;
        top: 12rem;
        width: 45%;
        height: 2.2rem;
        overflow: hidden;
    }
    .conRight h3,.conRight .title1{
        font-size: 1.2rem;
        height:4rem;
        line-height:4rem;
    }
    .conRight .title1{
        text-align: left;
        font-size: 1.2rem;
        line-height: 4rem;
    }
    .conRight .list1{
        line-height: 2.2rem;
        font-size: 1.2rem;
    }
    .conRight .list1 b{
        line-height: 2.2rem;
        font-size: 1rem;
    }
    .conRight .list1 span{
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
    .conRight .list1 p{
        margin-bottom: 1.2rem;
        padding:0 1.2rem;
        line-height: 2.2rem;
        font-size: 1rem;
    }
    .conRight .list1 h6{
        width: 100%;
        line-height: 2.2rem;
        font-size: 1.2rem;
    }
    .conRight .list1 em{
        line-height: 2.2rem;
        font-size: 1.2rem;
    }
    .conRight .list1 .div2 em{
        padding-left: 2rem;
    }
    .cons{
        height: 2.2rem;
        line-height: 2.2rem;
        font-size: 1.2rem;
    }
}
@media all  and (min-width: 375px){
    .conLeft{
        position: fixed;
        right: 2%;
        top: 12rem;
        width: 45%;
        height: 2.2rem;
        overflow: hidden;
    }
    .conRight h3,.conRight .title1{
        font-size: 1.4rem;
        height:4rem;
        line-height:4rem;
    }
    .conRight .title1{
        text-align: left;
        font-size: 1.4rem;
        line-height: 4rem;
    }
    .conRight .list1{
        line-height: 2.4rem;
        font-size: 1.4rem;
    }
    .conRight .list1 b{
        line-height: 2.4rem;
        font-size: 1.4rem;
    }
    .conRight .list1 span{
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    .conRight .list1 p{
        margin-bottom: 1.2rem;
        padding:0 1.2rem;
        line-height: 2.4rem;
        font-size: 1.4rem;
    }
    .conRight .list1 h6{
        width: 100%;
        line-height: 2.4rem;
        font-size: 1.4rem;
    }
    .conRight .list1 em{
        line-height: 2.4rem;
        font-size: 1.4rem;
    }
    .conRight .list1 .div2 em{
        padding-left: 2rem;
    }
    .cons{
        height: 2.4rem;
        line-height: 2.4rem;
        font-size: 1.4rem;
    }
}
@media all  and (min-width: 410px){
    .conLeft{
        position: fixed;
        right: 2%;
        top: 12rem;
        width: 45%;
        height: 2.2rem;
        overflow: hidden;
    }
    .conRight h3,.conRight .title1{
        font-size: 1.4rem;
        height:4rem;
        line-height:4rem;
    }
    .conRight .title1{
        text-align: left;
        font-size: 1.4rem;
        line-height: 4rem;
    }
    .conRight .list1{
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 b{
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 span{
        font-size: 1.4rem;
        line-height: 2.6rem;
    }
    .conRight .list1 p{
        margin-bottom: 1.2rem;
        padding:0 1.2rem;
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 h6{
        width: 100%;
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 em{
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 .div2 em{
        padding-left: 2rem;
    }
    .cons{
        height: 2.6rem;
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
}
@media all  and (min-width: 480px){
    .conLeft{
        position: fixed;
        right: 2%;
        top: 12.5rem;
        width: 45%;
        height: 2.2rem;
        overflow: hidden;
    }
    .conRight h3,.conRight .title1{
        font-size: 1.6rem;
        height:4rem;
        line-height:4rem;
    }
    .conRight .title1{
        text-align: left;
        font-size: 1.4rem;
        line-height: 4rem;
    }
    .conRight .list1{
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 b{
        line-height: 2.6rem;
        font-size: 1.6rem;
    }
    .conRight .list1 span{
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
    .conRight .list1 p{
        margin-bottom: 1.2rem;
        padding:0 1.2rem;
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 h6{
        width: 100%;
        line-height: 2.6rem;
        font-size: 1.6rem;
    }
    .conRight .list1 em{
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 .div2 em{
        padding-left: 2rem;
    }
    .cons{
        height: 2.6rem;
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
}
@media all  and (min-width: 640px){
    .conLeft{
        position: fixed;
        right: 2%;
        top: 15rem;
        width: 45%;
        height: 2.2rem;
        overflow: hidden;
    }
    .conRight h3,.conRight .title1{
        font-size: 1.4rem;
        height:4rem;
        line-height:4rem;
    }
    .conRight .title1{
        text-align: left;
        font-size: 1.4rem;
        line-height: 4rem;
    }
    .conRight .list1{
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 b{
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 span{
        font-size: 1.4rem;
        line-height: 2.6rem;
    }
    .conRight .list1 p{
        margin-bottom: 1.2rem;
        padding:0 1.2rem;
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 h6{
        width: 100%;
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 em{
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
    .conRight .list1 .div2 em{
        padding-left: 2rem;
    }
    .cons{
        height: 2.6rem;
        line-height: 2.6rem;
        font-size: 1.4rem;
    }
}
@media all  and (min-width: 760px){
    .conLeft{
        position: fixed;
        right: 2%;
        top: 15rem;
        width: 45%;
        height: 2.2rem;
        overflow: hidden;
    }
    .conRight h3,.conRight .title1{
        font-size: 1.8rem;
        height:4rem;
        line-height:4rem;
    }
    .conRight .title1{
        text-align: left;
        font-size: 1.6rem;
        line-height: 4rem;
    }
    .conRight .list1{
        line-height: 3rem;
        font-size: 1.6rem;
    }
    .conRight .list1 b{
        line-height: 3rem;
        font-size: 1.6rem;
    }
    .conRight .list1 span{
        font-size: 1.6rem;
        line-height: 3rem;
    }
    .conRight .list1 p{
        margin-bottom: 1.2rem;
        padding:0 1.2rem;
        line-height: 3rem;
        font-size: 1.6rem;
    }
    .conRight .list1 h6{
        width: 100%;
        line-height: 3rem;
        font-size: 1.6rem;
    }
    .conRight .list1 em{
        line-height: 3rem;
        font-size: 1.6rem;
    }
    .conRight .list1 .div2 em{
        padding-left: 2rem;
    }
    .cons{
        height: 3rem;
        line-height: 3rem;
        font-size: 1.6rem;
    }
}

.conLeft{
    border: .1rem solid #c5c9cb;
}
.conLeft h1{
    background: #fbf3d6;
    border-bottom: .1rem solid #c5c9cb;
    text-align: center;
}
.conLeft a{
    display: block;
}
.conLeft a:hover{
    background: #f5f5f5;
}
.conLeft a.bg{
    background: #f5f5f5;
}
.conRight .con{
    display: none;
}
.conRight div.bg{
    display: block;
}
.conRight h3,.conRight .title1{
    text-align: center;
    border-bottom: .1rem solid #aaa;
    font-weight: bold;
}
.conRight .title1{
    text-align: left;
}
.conRight .list1{
    text-align: left;
    border-bottom: .1rem solid #aaa;
}
.conRight .list1 span{
    font-weight: bold;
}
.conRight .list1 p{
    background: #f5f5f5;
    border: .1rem dashed #785;
}
.conRight .list1 h6{
    text-align: center;
    background: #ccc;
}
.conRight .list1 em{
    display: block;
    font-style: normal;
    background: #efefef;
}
.xz{
    position: absolute;
    border:.1rem solid #ebebeb ;
    text-align: center;
    color: #ffffff;
    background: #ff6700;
    border-radius:1.5rem ;
}

.cons{
    border-bottom: .1rem solid  #aaa;
    text-align: center;
}

.xz:hover{
    background: red;
}
.cons a:hover{
    color:#ff6700 ;
}
.cons a{
    color: aqua;
}