@charset "utf-8";
html,body{
    width: 100%;
    background: #ffffff;
}
html,body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,iframe, label,button,input,textarea,th,td,a,i,b,u,header,footer,nav,section,article,figure,figcaption,aside,audio,video{
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    color: #333333;
}
h1,h2,h3,h4,h5,h6 { font-size: 100%; }
address,cite,dfn,var { font-style: normal; }
code,kbd,pre,samp,tt { font-family: "Courier New", Courier, monospace; }
small{ font-size: 12px; }
ul,ol{ list-style: none; }
a{ text-decoration: none; }
a:hover,a:visited,a:link,a:active{ text-decoration: none; }
fieldset,img,button{ border: none;}
button,input,select,textarea {
    font-size: 100%;
}
body{ -webkit-tap-highlight-color:rgba(0,0,0,0); }
img,iframe,table,form{
    border: none;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    border: none;
    height: 1px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear {zoom: 1; }
.clear:after, .clear:before {content: ""; display: block; height: 0; visibility: hidden; }
.clear:after {clear: both; }


.min_width{
    width: 100%;
}
.tops {
    display: none;
    right: 3.2rem;
    bottom: 2rem;
    width: 2.4rem;
    height: 2.4rem;
    background: cyan;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 1.6rem;
    line-height: 2.36rem;
    text-align: center;
    color: #333333;
}
@media all  and (min-width: 320px){
    html{
        font-size: 10px;
    }
}
@media all  and (min-width: 375px){
    html{
        font-size: 11.7px;
    }
}
@media all  and (min-width: 410px){
    html{
        font-size: 12.8px;
    }
}
@media all  and (min-width: 480px){
    html{
        font-size: 15px;
    }
    .tops {
        right: .2rem;
        bottom: .2rem;
    }
    .logo{
        display: none;
    }
}
@media all  and (min-width: 640px){
    html{
        font-size: 20px;
    }
    .tops {
        right: .2rem;
        bottom: .2rem;
    }
    .logo{
        display: none;
    }
}
@media all  and (min-width: 720px){
    html{
        font-size: 22px;
    }
    .tops {
        right: .2rem;
        bottom: .2rem;
    }
    .logo{
        display: none;
    }
}
.title{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 50;
    padding-bottom: .5rem;
    border-bottom: 0.1rem solid silver;
    background-color:#ffffff ;
}
.title div.bg{
    background: #616161;
    position: relative;
}

.title .head{
    background: #616161;
    position: relative;
    overflow: hidden;
}
.title .head .clList{
    width: 100%;
    margin: 0 auto;
}
.title .head .clList span{
   width: 7.14%;
    margin:0 3% ;
    font-size: 1rem;
}
.title .head .clList span,.title .head .clList ul{
    float: left;
}
.title .head .clList ul{
    width:85%;
}
.navList li a{
    overflow: hidden;
}
.title .head .clList ul li{
    float: left;
    margin-left: 7.14%;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    width: 7.14%;
}
.title .head{
    height: 3rem;
}
.title div.bg{
    height:3rem;
}
.title .head{
    height: 3rem;
    line-height:3rem;
}
.title .head .clList span,.title .head .clList ul li{
    margin-top: 0.1rem;
    display: block;
    width: 7.5%;
    height: 2.6rem;
    border: 0.1rem solid #cccccc;
}
.title .head .clList span{
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    line-height: 2.6rem;
    text-align: center;
    color: yellow;
}
.header .nav{
    width: 100%;
}
.header .nav .logo a,.header .nav .logo a img{
    display: block;
    width: 100%;
    height: 100%;
}
.header .nav .navList{
    width: 100%;
}
.header .nav .navList li{
    width: 11%;
    margin-right: 1%;
    padding: 0 .2rem;
}
.header .nav .navList li a{
    display: block;
    width: 98%;
    text-align: center;
    border: .1rem solid transparent;
    border-radius:1rem;
}
.height{
    width: 100%;
    height: 10rem;
    overflow: hidden;
}
.header .nav .logo{
    width: 50%;
    height: 3rem;
    margin:0 auto;
}
.header .nav .navList{
    margin: 0 auto;
    line-height: 3rem;
}
.header .nav .navList li{
    position: relative;
    float: left;
    background: none;
    line-height: 2.8rem;
}
.header .nav .navList li .a1{
    font-size: 1.6rem;
    background: none;
    overflow: hidden;
    line-height: 2.6rem;
}
.header .nav .navList li .span1{
    padding-top: .3rem;
    position: absolute;
    top: 2.8rem;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.header .nav .navList .span1 a{
    display: block;
    margin-top: .3rem;
    text-align: center;
    font-size: 1.6rem;
    line-height:2.6rem;
    height: 2.6rem;
    border:1px solid #e1e1e1;
    border-radius: 1rem;
    background: #ffffff;
}
.height{
    width: 100%;
    height: 10rem;
    overflow: hidden;
}

.tops:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.left,.tops,.right{
    position: fixed;
}
.bottm{
    margin-top: 2rem;
    text-align: center;
    border-top: .2rem solid #cccccc;
}
.bottm a{
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 0 .8rem;
}
.bottm p{
    font-size: 1.2rem;
    line-height: 2rem;
    color: #999;
}
.bottm p span{
    margin-left: 1rem;
}
.header .nav .navList li:hover{
    background: #0099CC;
}
.header .nav .navList li:hover .a1{
    color: #ffffff;
}
.header .nav .navList li.bg{
    background: #0099CC;
}
.header .nav .navList li a.bg{
    color: #ffffff;
}

.bottm a:active{
    color: #f68666;
}

.header .nav .navList .span1,.header .nav .navList .span2{
    width: 100%;
}
.header .nav .navList .span1 a,.header .nav .navList .span2 a{
    width: 99%;
}
.bg0{
    background:#ffffff;
}
.bg1{
    background:aliceblue;
}
.bg2{
    background:#DDEDFB;
}
.bg3{
    background: pink;
}
.bg4{
    background: #e1e1e1;
}
.bg5{
    background: peachpuff;
}